@{
    //Aceita codigo c# de programação na view paginas razor
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Project App Web Vendas MVC</p>

<p>@ViewData["email"]</p>